.root {
    
    li {
        display: inline-flex;
        
            a {
                justify-content: center;
                text-align: center;
                width: 45px;
                height: 45px;
                border: 1px solid orange;
                border-radius: 30px;
                margin-right: 20px;
                cursor: pointer;
                line-height: 42px;
                display: inline-block;
                color: orange;
        
                &:hover {
                    background-color: orange;
                    color: #FFFF;
                }
            }
        
            
        }

        :global {
            li{
                &.selected {
                    a {
                      background-color: orange;
                      color: #FFFF;
                    }
                  }
            }
                
            
        }
}